
@layer vars, core, page;

@layer vars {
	:root {
		--anim: 400ms;

		--prime: #d633fc;
		--prime-bright: color-mix(in lch, var(--prime), white 50%);
		--prime-chill: color-mix(in lch, var(--prime), #fff8 50%);
		--prime-dim: color-mix(in lch, var(--prime), transparent 50%);

		--accent: #6a33b5;
		--bg: #11002a;
		--link: cyan;

		--selection-bg: #f70;
		--selection-color: white;
	}
}

@layer core {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;

		scrollbar-width: thin;
		scrollbar-color: #444 transparent;
	}

	::selection {
		color: var(--selection-color);
		background-color: var(--selection-bg);
	}

	::-webkit-scrollbar { width: 8px; }
	::-webkit-scrollbar-track { background: transparent; }
	::-webkit-scrollbar-thumb { background: #444; border-radius: 1em; }
	::-webkit-scrollbar-thumb:hover { background: #666; }

	a {
		color: var(--link);
		text-decoration: none;

		&:visited {
			color: color-mix(in srgb, purple, var(--link) 70%);
		}

		&:hover {
			color: color-mix(in srgb, white, var(--link) 90%);
			text-decoration: underline;
		}

		&:active {
			color: color-mix(in srgb, white, var(--link) 50%);
		}
	}
}

@layer page {
	:root {
		color-scheme: dark;

		font-size: 21px;
		font-family: "Share Tech", sans-serif;

		background: var(--bg);
		color: var(--prime-chill);
	}

	html, body {
		width: 100%;
		height: 100%;
	}

	voids-app {
		position: absolute;
		inset: 0;
		margin: auto;
		outline: 2px solid var(--prime);

		> section {
			display: flex;
			flex-direction: column;
			gap: 0.2em;
			height: 100%;
			justify-content: center;
			align-items: center;

			padding: 0.5em;
			text-align: center;

			h1 {
				font-family: "Bitcount", sans-serif;
				font-size: 3em;
				font-weight: normal;
				color: color-mix(in lch, var(--prime), white 50%);
				text-shadow:
					0 0 0.5em var(--prime),
					0 0 2em var(--prime),
					0 0 2em var(--prime);
			}

			.version {
				font-family: "Bitcount", sans-serif;
				font-size: 1.4em;
			}
		}
	}
}

